/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    background: white;
}
#dialogFormprogram{
	margin-left: 20%;
    font-size: 12px;
    font-family: -webkit-body;
    margin-top: 1%;
    border: outset;
}
.imageOfDialog{
	position: absolute;
    right: 40%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

::placeholder {
  color: #c0c0c0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #c0c0c0;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #c0c0c0;
}

.dialogInputField {
	visibility: visible !important;
    width: 60%;
    margin-left: 20%;
    height: 29px;
    font-size: 12px;
    font-family: -webkit-body;
    margin-top: 1%;
}






.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
	    margin-left: 20%;
    font-size: 16px;
    font-family: -webkit-body;
    margin-top: 1%;
    border: 1px solid #ccc;
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 60%;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}




